<div class="plan">
  <div class="plan__header">
    <p>Monthly</p>
    <div class="plan__billing">
      <h1 class="plan__price">$9</h1>
      <p class="plan__cycle">/mo</p>
    </div>
  </div>
  <div class="plan__body">
    <div class="plan__features">
      <span>
        <svg class="icon icon--plan">
          <use xlink:href="sprite.svg#check"></use>
        </svg>
      </span>
      <p>Unilimited* scheduled tweets and threads.</p>
    </div>
    <div class="plan__features">
      <span>
        <svg class="icon icon--plan">
          <use xlink:href="sprite.svg#check"></use>
        </svg>
      </span>
      <p>Schedule up to 3 weeks in advance</p>
    </div>
    <div class="plan__features">
      <span>
        <svg class="icon icon--plan">
          <use xlink:href="sprite.svg#check"></use>
        </svg>
      </span>
      <p>Real-time audience analytics tracking up to 5k followers.</p>
    </div>
  </div>
  <a class="btn btn--auth btn--stretched">Sign in with Twitter </a>
</div>
