<div class="user__card">
  <div class="user__header">
    <div class="user__info">
      <img class="user__profile" src="Assets/userAvatar01.svg" alt="" />
      <div class="user__handle">
        <span class="user__name">Sara May</span>
        <span class="user__twitter-handle">@sara_may</span>
      </div>
    </div>
    <svg class="icon icon--user__icon">
      <use xlink:href="sprite.svg#twitter-blue"></use>
    </svg>
  </div>
  <p class="user__tweet">
    I just tried out @chirp and it's amazing, love all the analytics I can see.
  </p>
  <div class="user__footer">
    <div class="user__like-container">
      <svg class="icon icon--user__icon">
        <use xlink:href="sprite.svg#like"></use>
      </svg>
      <span class="user__heart-count">2</span>
    </div>
    <p class="user__date">March 2, 2021</p>
  </div>
</div>
