<div class="users__avatar">
  <img class="user__avatar" src="Assets/userAvatar01.svg" alt="" />
  <img class="user__avatar" src="Assets/userAvatar02.svg" alt="" />
  <img class="user__avatar" src="Assets/userAvatar03.svg" alt="" />
  <img class="user__avatar" src="Assets/userAvatar04.svg" alt="" />
  <img class="user__avatar" src="Assets/userAvatar05.svg" alt="" />
  <img class="user__avatar" src="Assets/userAvatar06.svg" alt="" />
  <img class="user__avatar" src="Assets/userAvatar07.svg" alt="" />
  <img class="user__avatar" src="Assets/userAvatar08.svg" alt="" />
  <img class="user__avatar" src="Assets/userAvatar09.svg" alt="" />
</div>
